div(id='_openvri_dialog', title='openvri.com')
      div#_openvri_video-layout
        div#_openvri_video-header
          input(id='_openvri_hangupBtn', class='_openvri_button', type='button', value='done', title='Stop sending video')
          input(id='_openvri_inviteBtn', class='_openvri_button', type='button', value='invite', title='Give the URL to allow a member to join this room')
          p#_openvri_inviteURL
        div#_openvri_video-body
        div#_openvri_message-body

