!!! 5
html
  head
    title VRI Lite
    link(rel='stylesheet', href='/stylesheets/jquery-ui-1.10.3.custom/css/openvri-theme/jquery-ui-1.10.3.custom.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/socket.io/0.9.16/socket.io.min.js')
    script(src='http://code.jquery.com/jquery-1.9.1.js')
    script(src='http://code.jquery.com/ui/1.10.3/jquery-ui.js')
    script(src='/javascripts/chat.js')
    script(src='/javascripts/chat_ui.js')
    script(src='/javascripts/adapter.js')
  body
    include embed
