div#_openvri_inviteDialog
  div#_openvri_inviteContext
    p#_openvri_inviteTitle
      | Share this URL with your peers:
    p#_openvri_urlAddr
  div#_openvri_inviteBtns
    input(id='_openvri_closeInviteBtn', class='_openvri_button', type='button', value='close', title='Close this dialog')
    input(id='_openvri_clipboardBtn', class='_openvri_button', type='button', value='copy URL', title='Click to copy this URL to clipboard')
