@import 'nib'
@import 'nib/gradients'

global-reset()
reset-html5()

html
body
    padding-left auto
    padding-right auto

h3
    font-size 24px
    color white

#_openvri_content
    height 800px
    width 1480px
    padding 5px
    background-color #232323;
    //background linear-gradient(top, #cfe2f3ff, #bed1e2ee, #cfe2f3ff);
    //background-image url('/assets/Hoh_Rainforest_phone.jpg')
    //background-image url('/assets/Paradise-love-angels-22242012-1440-900.jpg')
    //background-size cover
    //background-repeat no-repeat

#_openvri_create-content
    width 100%
    height 100%

#_openvri_video-layout
    height 785px
    width 1470px
    background-color #232323;

#_openvri_video-header
    width 100%
    height 40px

#_openvri_inviteURL
    font-size 18px
    font-weight bold
    float right
    color white
    margin-top 15px
    margin-right 200px

._openvri_button
    border-style solid
    border-width 1px
    border-color black
    border-radius 5px
    background linear-gradient(top, #cfe2f3ff, #bed1e2ee, #cfe2f3ff)
    text-align middle
    padding 5px
    margin 5px
    opacity 1
    &:hover
        background #cfe2f3ff
    &:active 
        background linear-gradient(top, #cfe2f3ff, #dff3f4ff, #cfe2f3ff)

#_openvri_createBtn
    width 180px
    height 80px
    position relative
    font-size 28px 

#_openvri_hangupBtn
    float left
    width 70px
    height 30px
    font-size 18px 

#_openvri_inviteBtn
    float right
    width 70px
    height 30px
    font-size 18px 

#_openvri_video-body
    width 1470px
    height 370px

._openvri_video-box
    width 480px
    height 360px
    background-color #888
    margin 5px

#_openvri_video-src-one
    animation-duration 2s
//    margin-left 490px

#_openvri_message-body
    width 1470px
    height 370px

#_openvri_message-src-one
    background-color #fdfdfd
    animation-duration 2s
//    margin-left 490px

#_openvri_message-src-two, #_openvri_message-src-three
    background-color #afafaf

._openvri_messages
    width 474px
    height 355px
    margin 5px
    resize none
    font-size 18px

//@keyframes slideout
//    from
//	margin-left 490px
	
//    to
//	margin-left 250px

//@keyframes slidein
//    from
//	margin-left 250px

//    to 
//	margin-left 490px
